body {
    /* background-image: linear-gradient(to right, #000428, #004e92);*/
    /* linear-gradient(to right, #000000, #131313); */
    color: white;
}

.bg-grad {
    background-image: linear-gradient(to right, #000428, #004e92);
}

.card {
    transition: transform .2s;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-color: #007bff; /* Primary blue border */
    background-color: #f8f9fa;

    transition: scale(10);
    z-index: 10;
}

a.word-select {
    color: black;
    text-decoration: none;
}

a.word-select:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.chess-square {            
    width: 55px;    
    height: 55px;
    aspect-ratio: 1/1; 
}

.chess-square-light {
    background: #e6daee;
}

.chess-square-dark {
    background: #9a7db7;
}

.chess-square-light:hover {
    background: #e6daee; 
    border: 2px solid black;
}

.chess-square-dark:hover {
    background: #9a7db7;
    border: 2px solid black;    
}
